<!-- task 4 + 6 -->
<div>
    <!-- Header -->
    <div class="modal-header modal-logo-header">
        <img src="assets/logos/ph-logo.svg" alt="" class="ph-logo">
    </div>

    <!-- Content -->
    <div class="form-container">
        <div style="text-align: center; width: 500px;">
            <p> Welcome to PocketHealth {{current_name}}, 
                <br> Your User ID is: {{current_userID}}, 
                <br> Your Favourite Colour is:
                <!-- coloured rectangle -->
                <span style="display:inline-block; position:relative; top: 3px; height: 15px; width: 15px; border: 1px solid black; background-color: {{ current_favcolour }} "></span>
            </p>
        </div>
       
    </div>
</div>