<div>
  <!-- Header -->
  <div class="modal-header modal-logo-header">
    <img src="assets/logos/ph-logo.svg" alt="" class="ph-logo">
  </div>

  <!-- Content -->
  <div class="form-container">
    <form (ngSubmit)="onFormSubmit(form)" #form="ngForm" #registerForm="ngForm" ngNativeValidate >
      <!-- Input Fields -->
      <div class="input-row">
        <label for="name">Name</label>
        <input ngModel type="text" name="name" class="input-field" placeholder="Name" #name="ngModel" [autofocus] ngModel="" required>
        <!-- Task 7: input validation -->
        <div *ngIf="name.invalid && name.dirty" style="color: red; font: smaller;">Name is required</div>
      </div>
        
      <div class="input-row">
        <label for="email">Email</label>
        <input ngModel type="email" name="email" class="input-field" placeholder="Email" required ngModel email #email="ngModel" [ngModelOptions]="{ updateOn: 'blur' }">
        <!-- Task 7: input validation -->
        <div *ngIf="email.dirty && email.errors?.required" style="color: red; font: smaller;">Email is required</div>
        <div *ngIf="email.dirty && !email.errors?.required && email.errors?.email" style="color: red; font: smaller;">Enter a valid email</div>
      </div>
      <div class="input-row">
        <label for="favcolour">Favourite Colour</label>
        <!-- Task 5: -->
        <!-- previously I had the user enter what their favourite colour was and then simply display the text in the home screen, I'm not sure which one is better
        but the new version lets the user select from a preset list of colours -->
        <!-- <input ngModel type="text" name="favcolour" class="input-field" placeholder="(optional)"> -->
          
        <!-- colour dropdown -->
        <select name="favcolour" id="favcolour" #favcolour (change)="onSelected(favcolour.value)" style="width: 420px; height: 40px; padding: 11px; background-color: white; border: 1px solid grey; border-radius: 4px; color: rgb(134, 134, 134); font-size: 14px;">
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Pink">Pink</option>
          <option value="Black">Black</option>
          <option value="White">White</option>
        </select>
      </div>
      <!-- Button -->
      <div class="button-row">
        <button class="btn primary-btn" type="submit" [disabled]="!form.form.valid">
          Register
        </button>
      </div>
    </form>
  </div>
</div>